* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:  #283A40;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-image: url("./img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}

header::after {
    position: absolute;
    content: '\f078';
    font-family: 'FontAwesome';
    color: #fff;
    bottom: 25px;
    font-size: 2em;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

header > div, .coming-soon > div {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}

header img {
    width: auto;
    height: 60%;
} 

section:first-of-type {
    height: 75%;
    padding: 15px;
}

article {
    height: 60%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 25px;
}

article::after {
    content: '';
    width: 25%;
    border: 1px solid #d3d3d3;
    position: absolute;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

article:last-of-type::after {
    display: none;
}

div.image-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

section:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.75em;
    text-align: center;
}

article:nth-of-type(1) div.image-container {
    background-image: url('./img/explore.png');
}
article:nth-of-type(2) div.image-container {
    background-image: url('./img/share.png');
}
article:nth-of-type(3) div.image-container {
    background-image: url('./img/discover.png');
}
article:nth-of-type(4) div.image-container {
    background-image: url('./img/master.png');
}

div.content-container {
    padding: 10px;
    padding-left: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

aside.parallax:nth-of-type(1) {
    background-image: url('./img/background5.jpg');
}

.parallax {
    height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: #5E8795;
}

h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

p {
    font-size: 1.5em;
}

.coming-soon {
    height: 50%;
    min-height: 440px;
    position: relative;
    text-align: center;
    background-color: #5E8795;
    padding: 30px;
    margin-top: 30px;
    border-bottom: 2px solid #fff;
}

.coming-soon h1, .coming-soon p {
    color: #fff;
}

.button {
    font-family: 'Open Sans';
    font-size: 32px;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    color: #fff;
    background-color: transparent;
    margin-top: 25px;
    padding: 5px;
}

.button:hover {
    background-color: #fff;
    color: #5E8795;
    cursor: pointer;
}

.modal-open {
    overflow: hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.content > iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    header img {
        width: 80%;
        height: auto;
    }

    .modal-content {
        width: 100%;
    }

    article {
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: .75em;
    }

    div.image-container {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
    } 

    div.content-container {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
    }

    section:nth-of-type(1) {
        font-size: 1em;
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #5E8795;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer > ul > li > a, footer > ul > li > a > i {
    color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header, .parallax {
        background-attachment: scroll;
    }
    
    p {
    	font-size: 1.75em;
    }
}